body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 1em;
  padding: 10px;
  margin: 10px 0px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px 0px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

button {
  display: block;
  width: 150px;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin: 0px auto;
}
